body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

p {
    margin-bottom: 1em;
}

body {
    padding: 16px;
}

hr {
    margin: 16px 0;
}

select, input {
    width: 150px;
    height: 30px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label-text {
    display: block;
    width: 150px;
}

.results {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    margin-top: 2em;
}

#chart {
    width: 100%;
    height: 400px;
}

.chart-container {
    width: 100%;
    height: 400px;
}

button {
    height: 30px;
    padding: 0 8px;
}

input[type="checkbox"] {
    width: 30px;
    margin-right: 8px;
}

.simulate-1-pull {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.simulate-1-pull label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0 8px;
}

.results.champion-list {
    white-space: normal;
    font-family: inherit;    
}

.champion-list .champion {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4px;
    border: solid #000 2px;
    background-color: #000;
    width: 100px;
    height: 155px;
}

.champion img {
    max-width: 100px;
}

.champion-list .champion.rarity-rare span {
    background-color: #00F;
}
.champion-list .champion.rarity-epic span {
    background-color: #F0F;
}
.champion-list .champion.rarity-legendary span {
    background-color: #FF0;
}

.champion-list .champion span {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    padding: 4px;
    width: 100%;
    font-size: 10px;
    color: #FFF;
    text-shadow: 0 -1px #000,  0 1px #000,  -1px 0 #000,  1px 0 #000;
    border-top: solid #000 2px;
}

input + button {
    min-width: 120px;
    margin-left: 4px;
    text-align: center;
}

.champion-picker {
    display: none;
    position: fixed;
    top:  30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border: solid #000 1px;
    background-color: #fff;
    padding: 10px;
}

.champion-picker .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 30px;
    padding: 0;
    border: 0;
    color: #FFF;
    background-color: #B00B13;
    cursor: pointer;
    outline: 0;
}

.champion-picker h2 {
    margin-bottom: 12px;
}

.champion-picker .champions {
    display: flex;
    position: absolute;
    top: 85px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: auto;
}

.champion-picker ul,
.champion-picker li {
    display: block;
    padding: 0;
}

.champion-picker .champions label {
    margin-bottom: 2px;
}

.champion-picker input {
    width: 1em;
    height: 1em;
    margin-right: 4px;
}

.champion-picker .picker-column + .picker-column {
    margin-left: 30px;
}